{% extends 'base.html' %}
{% block product %}
<p>
    <div class="box">
    <span class="tag is-black is-small">Novo Saida</span>
</div>
</span>
</p>
<br>

<form action="{% url 'saida:notaSaidaNew' %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="field">
        <label class="label">{{ field.label }}</label>
           {%  if field.name  == 'cor' %}
            <div class="select">{{ field }}</div>
        </div>
        {% else %}
        <div class="control">{{ field }}</div>
        {% endif %}
        {{ field.type }}
    </div>
    {% endfor %}
    <button class="button is-primary" type="submit">Salvar</button>
</form>
{% endblock %}